body{
    background-color: #142d4c;
}

.center {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

h1 {
    color: #ececec;
}

h2 {
    color: #ececec;
}

a {
    color: #9fd3c7;
}

p {
    color: #ececec;
}